body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.car {
  width: 20px;
  height: 10px;
  position: absolute;
  transform: rotate(var(--angle)) translateX(var(--x)) translateY(var(--y));
}

.stage {
  background-color: #333;
  user-select: none;
  overflow: hidden;
}
.stage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container .points {
  color: turquoise;
}
